<?xml version="1.0" encoding="utf-8"?>
<configlist>
    <DeviceType>Android</DeviceType><!-- 测试设备系统(Android\iOS) -->
    <DeviceType_Android>
        <AppName>163mail</AppName><!-- 测试应用名称 -->
        <NoRestApp>False</NoRestApp><!-- 不清除缓存不重置应用 -->
        <ResourceMonitoring type="False"><!-- Android 应用开启性能监控 -->
            <PackageName>com.netease.mail</PackageName><!-- 测试应用的PackageName -->
            <Activity>com.netease.mobimail.activity.LaunchActivity</Activity><!-- 测试应用的PackageName -->
        </ResourceMonitoring>
    </DeviceType_Android>
    <DeviceType_IOS>
        <bundleId>com.netease.mailmaster</bundleId><!-- 测试应用bundleId（需自行前往Appstore安装应用到手机上） -->
    </DeviceType_IOS>
    <Devices>三星i9192</Devices>
    <Appium-Server>INFO</Appium-Server><!-- Appium-Server 日志等级:INFO/DEBUG/ERROR/WARN -->
</configlist>