<?xml version="1.0" encoding="utf-8"?>
<TestConfig>
    <MobileTest>
        <DeviceType>Android</DeviceType><!-- 测试设备系统(Android\iOS) -->
        <Appium-Server>INFO</Appium-Server><!-- Appium-Server 日志等级:INFO/DEBUG/ERROR/WARN -->
        <Device>三星i9192</Device>
        <AndroidConfig>
            <AppName>163mail</AppName><!-- 测试应用名称 -->
            <NoRestApp>False</NoRestApp><!-- 不清除缓存不重置应用 -->
            <ResourceMonitoring>False</ResourceMonitoring><!-- Android 应用开启性能监控 -->
            <PackageName>com.netease.mail</PackageName><!-- 测试应用的PackageName -->
            <Activity>com.netease.mobimail.activity.LaunchActivity</Activity><!-- 测试应用的PackageName -->
        </AndroidConfig>
        <IOSConfig>
            <bundleId>com.netease.mailmaster</bundleId><!-- 测试应用bundleId（需自行前往Appstore安装应用到手机上） -->
        </IOSConfig>
    </MobileTest>
    <WebConfig>
        <BrowserName>Chrome</BrowserName><!-- Web测试指定的浏览器 -->
    </WebConfig>
</TestConfig>